{% if clause.additional_from_auth is defined and (clause.recursion is defined and clause.recursion == 'no') %}
  additional-from-auth {{ clause.additional_from_auth }};

{% endif %}
{# view, options
---
clause:
  recursion: no
  additional_from_auth: yes
#}