{% if clause.additional_from_auth is defined and clause.recursion is defined and clause.recursion == 'no'}
  additional-from-auth {{ clause.additional_from_auth }};

{% endif %}
{#
---
clause:
  recursion: no
  additional_from_auth: yes
#}