{% if clause.avoid_v4_udp_ports is defined %}
  avoid-v4-udp-ports {
{% for port in clause.avoid_v4_udp_ports %}
    {{ port }};
{% endfor %}
  };

{% endif %}
{# options
---
clause:
  avoid_v4_udp_ports:
    - 23
    - 56
    - 42
    - ...
#}