{% if clause.blackhole is defined %}
  blackhole {
{% if clause.blackhole is string %}
    {{ clause.blackhole }};
{% else %}
{% for element in clause.blackhole %}
    {{ element }};
{% endfor %}
{% endif %}
  };

{% endif %}
{#
---
clause:
  blackhole: "none"
--- or
clause:
  blackhole:
    - 8.8.8.8
    - "acl_blacklist"
    - ...
#}