{% if clause.disable_empty_zone is defined %}
{% for empty_zone in clause.disable_empty_zone %}
  disable-empty-zone "{{ empty_zone }}";
{% endfor %}
{% endif %}
{# view, options
---
clause:
  disable_empty_zone:
    - example.com
    - empty.tld
    - 0fgiven.tld
#}