	masters {% if clause.masters_port is defined %}port {{ clause.masters_port }} {% endif %}{
{% for master in clause.masters %}
{% if master is string %}
    {{ master }};
{% else %}
    {{ master.host }}{% if master.port is defined %} port {{ master.port }}{% endif %}{% if master.key is defined %} key {{ master.key }}{% endif %};
{% endif %}
{% endfor %}
};
{# slave zone
---
clause:
  masters_port: 53 # optional
  masters: 192.168.0.53
--- or
clause:
  masters_port: 53 # optional
  masters:
    - host: 192.168.0.5
      port: 53 # optional
      key: "key_master" # optional
    - host: 10.0.0.255
#}