{% if clause.recursing_file is defined %}
  recursing-file "{{ clause.recursing_file }}";
{% endif %}
{# options
---
clause:
  recursing_file: bind.recurse # absolute or relative path to directory statement
#}