{% if clause.statistics_file is defined %}
  statistics-file "{{ clause.statistics_file }}";
{% endif %}
{# options
---
clause:
  statistics_file: /some/path/to/afile # absolute or relative to directory statement
#}