{% if clause.transfer_format is defined %}
  transfer-format {{ clause.transfer_format }};

{% endif %}
{# master zone, view, options
---
clause:
  transfer_format: many-answers # one-answer | many-answers
#}