{% if clause.use_alt_transfer_source is defined %}
  use-alt-transfer-source {{ clause.use_alt_transfer_source }};
{% endif %}
{# zone, view, options
---
clause:
  use_alt_transfer_source: yes
#}