{% if ZoneRecords.A is defined %}
{% for recordv4 in ZoneRecords.A %}
{% if ZoneRecords.A[recordv4] is string %}
{{ ZoneRecords.A[recordv4] }}		IN	A	{{ recordv4 }}
{% else %}
{% for host in ZoneRecords.A[recordv4] %}
{{ host }}		IN	A	{{ recordv4 }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
