{% if ZoneRecords.AAAA is defined %}
{% for recordv6 in ZoneRecords.AAAA %}
{% if ZoneRecords.AAAA[recordv6] is string %}
{{ ZoneRecords.AAAA[recordv6] }}		IN	AAAA	{{ recordv6 }}
{% else %}
{% for host in ZoneRecords.AAAA[recordv6] %}
{{ host }}		IN	AAAA	{{ recordv6 }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
