; {{ ansible_managed }}

$ttl {{ ZoneRecords.ttl|default( zones_config_ttl ) }}
$ORIGIN {{ item.name }}.
@           IN  SOA     {{ ZoneRecords.SOA.ns }}     {{ ZoneRecords.SOA.email }}  (
                {{ ZoneRecords.SOA.serial }}    ; serial
                {{ ZoneRecords.SOA.refresh|default( zones_config_refresh ) }}      ; refresh
                {{ ZoneRecords.SOA.retry|default( zones_config_retry ) }}      ; retry
                {{ ZoneRecords.SOA.expire|default( zones_config_expire ) }}      ; expire
                {{ ZoneRecords.SOA.negative|default( zones_config_negative ) }}      ; negative
                )
{% for nameserver in ZoneRecords.NS %}
@			IN	NS	{{ nameserver }}
{% endfor %}

{% if ZoneRecords.A is defined %}
{% for recordv4 in ZoneRecords.A %}
{% if ZoneRecords.A[recordv4] is string %}
{{ ZoneRecords.A[recordv4] }}		IN	A	{{ recordv4 }}
{% else %}
{% for host in ZoneRecords.A[recordv4] %}
{{ host }}		IN	A	{{ recordv4 }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
{% if ZoneRecords.AAAA is defined %}
{% for recordv6 in ZoneRecords.AAAA %}
{% if ZoneRecords.AAAA[recordv6] is string %}
{{ ZoneRecords.AAAA[recordv6] }}		IN	AAAA	{{ recordv6 }}
{% else %}
{% for host in ZoneRecords.AAAA[recordv6] %}
{{ host }}		IN	AAAA	{{ recordv6 }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
{% if ZoneRecords.PTR is defined %}
{% for ptr in ZoneRecords.PTR %}
{{ ZoneRecords.PTR[ptr] }}			IN	PTR	{{ ptr }}
{% endfor %}

{% endif %}
{% if ZoneRecords.MX is defined %}
{% for record in ZoneRecords.MX %}
{% for entry in ZoneRecords.MX[record] %}
{{ record }}		{{ entry.ttl|default('') }} IN	MX {{ entry.priority }}	{{ entry.target }}
{% endfor %}
{% endfor %}

{% endif %}
{% if ZoneRecords.SRV is defined %}
{% for record in ZoneRecords.SRV %}
{{ record.srvce }}.{{ record.prot }}{% if record.ZoneRecords_name is defined %}.{{ record.ZoneRecords_name }}{% endif %}	IN	SRV	{{ record.priority }} {{ record.weight }} {{ record.port }}	{{ record.target }}
{% endfor %}

{% endif %}
{% if ZoneRecords.CNAME is defined %}
{% for cname in ZoneRecords.CNAME %}
{% if ZoneRecords.CNAME[cname] is string %}
{{ cname }} 			IN	CNAME	{{ ZoneRecords.CNAME[cname] }}
{% else %}
{% for alias in ZoneRecords.CNAME[cname] %}
{{ alias }}			IN	CNAME	{{ cname }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
{% if ZoneRecords.DNAME is defined %}
{% for dname in ZoneRecords.DNAME %}
{{ dname }}			IN	DNAME	{{ ZoneRecords.DNAME[dname] }}
{% endfor %}

{% endif %}
{% if ZoneRecords.TXT is defined %}
{% for txt in ZoneRecords.TXT %}
{{ txt.label|default('@') }}			IN	TXT	{{ txt.text }}
{% endfor %}

{% endif %}
