// "{{ ansible_managed}}"

{% if RFC1918 == True %}
include "/etc/bind/zones.rfc1918";

{% endif %}
{% for zone in zones %}
{% set clause = zone %}
{% include './templates/clauses/zone.j2' %}

{% endfor %}
