// {{ ansible_managed}}
{% set final_options = (default_options|combine(options|default({}))) %}
{% import './templates/clauses.j2' as macro_clauses with context %}
{{ macro_clauses.options(final_options) }}
