// {{ ansible_managed }}
options {
	directory "/var/cache/bind";

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113
        query-source address * port *;

	transfer-source *;

	notify-source *;

	allow-transfer {
{% if bind_config_master_allow_transfer %}
{% for allow_transfer in bind_config_master_allow_transfer %}
		{{ allow_transfer }};
{% endfor %}
{% else %}
		"none";
{% endif %}
		};

	notify yes;

	also-notify {
		};

	// provide-ixfr no ;

{% if bind_config_master_forwarders %}
// If your ISP provided one or more IP addresses for stable
// nameservers, you probably want to use them as forwarders.

	forwarders {
{% for forwarders in bind_config_master_forwarders %}
	{{ forwarders }};
{% endfor %}
		};
{% endif %}

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	// dnssec-validation auto;

	auth-nxdomain no;    # conform to RFC1035
	listen-on { {{ bind_option_listen_on }}; }; 
	listen-on-v6 { {{ bind_option_listen_on_v6 }}; };
        version "get lost";
{% if bind_option_allow_query %}
	allow-query {
{% for queries in bind_config_allow_query %}
	{{ queries }};
{% endfor %}
		};
{% else %}
        allow-query { any; };
{% endif %}

{% if bind_option_allow_recursion %}
 	recursion yes;
	allow-recursion {
{% for recursion in bind_option_allow_recursion %}
		{{ recursion }};
{% endfor %}
		};
{% else %}
	recursion no;
{% endif %}
};

