// {{ ansible_managed}}
{% import './templates/clauses.j2' as clauses with context %}

{% if RFC1918 == True %}
include "/etc/bind/zones.rfc1918";
{% endif %}

{% if keys is defined -%}
  {% for key in keys -%}
    {{ clauses.key(key.name, (key.algorithm|default(none)), (key.secret|default(none)))}}
  {%- endfor %}
{%- endif %}

{% for zone in zones %}
{{ clauses.zone(zone ,zones[zone])}}
{% endfor %}
