key {{ clause.name }} {
{% if clause.algorithm is defined %}
  algorithm {{ clause.algorithm }};
{% endif %}
{% if clause.secret is defined %}
  secret "{{ clause.secret }}";
{% endif %}
};
{#
keys:
  - name: dhcp_updater
    algorithm: "HMAC-MD5.SIG-ALG.REG.INT"
    secret: "thisisntaverysecurepassphrase"
#}