{% set clause = options2 %}
{% import './templates/statements.j2' as statements %}
// {{ ansible_managed }}

options {
// Operations statements
{% for statement in bind_clauses.options.operations -%}
  {% if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif %}
{%- endfor %}
{{ statements.version(clause.version) | indent(width=2, first=True)}}

// transfers statements
{% for statement in bind_clauses.options.transfers -%}
  {%- if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif -%}
{%- endfor %}

// Zone statements
{% for statement in bind_clauses.options.zones -%}
  {% if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif %}
{%- endfor %}

// queries statements
{% for statement in bind_clauses.options.queries -%}
  {% if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif %}
{%- endfor %}

// Security statements
{% for statement in bind_clauses.options.security -%}
  {% if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif %}
{%- endfor %}

// Periodic statements
{% for statement in bind_clauses.options.periodics -%}
  {% if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif %}
{%- endfor %}

};
