{% import './templates/statements.j2' as statements %}
zone "{{ clause.name }}" {{ clause.class|default('') }} {
{# statements for zone clauses #}
  type {{ clause.type }};
{#
statements for master zones
#}
{% if clause.type == 'master' %}
{% if clause.textfile is defined %}
  file "{{ bind_zones_dir }}/{{ clause.textfile.split('/')[-1] }}";
{% else %}
  file "{{ bind_zones_dir }}/db.{{ clause.name }}";
{% endif %}
  {% for statement in bind_clauses.zone.master -%}
    {% if clause[statement] is defined -%}
      {%- if statement == 'also_notify' -%}
        {{ statements.also_notify(clause.also_notify, (clause.also_notify_port|default('')))}}
      {%- elif statement == 'allow_update' and clause.update_policy is not defined -%}
        {{ statements[statement](clause[statement])}}
      {%- else -%}
        {{ statements[statement](clause[statement])}}
      {%- endif -%}
    {%- endif -%}
  {%- endfor %}
{%- endif %}
{#
statements for slave zones
#}
{% if clause.type == 'slave' -%}
  file "{{ bind_zones_dir }}/db.{{ clause.name }}";
  {% for statement in bind_clauses.zone.slave -%}
    {% if clause[statement] is defined -%}
      {% if statement == 'masters' -%}
        {{ statements.masters(clause.masters, (clause.masters_port|default('')))}}
      {% else %}
        {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
      {%- endif %}
    {%- endif %}
  {%- endfor %}
{%- endif %}
{#
statements for forward zones
#}
{% if clause.type == 'forward' -%}
  {% for statement in bind_clauses.zone.forward -%}
    {% if clause[statement] is defined -%}
      {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
    {%- endif %}
  {%- endfor %}
{%- endif %}
{#
statements for static-stub zones
#}
{% if clause.type == 'static_stub' -%}
  {% for statement in bind_clauses.zone.static_stub -%}
    {% if clause[statement] is defined -%}
      {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
    {%- endif %}
  {%- endfor %}
{%- endif %}
{#
common statements
#}
{% for statement in bind_clauses.zone.common -%}
  {% if clause[statement] is defined -%}
    {{ statements[statement](clause[statement]) | indent(width=2, first=True)}}
  {%- endif %}
{%- endfor %}
};
